<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .active {
            color: greenyellow;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div v-for="product,idx in products">
            <div>@{{idx}} -- {{product.name}} -- {{product.price}}</div>
        </div>
        <div v-if="number > 10">
            庫存充足
        </div>
        <!-- <div v-else-if="number > 0">
            尚有庫存
        </div>
        <div v-else>
            補貨中
        </div> -->
        <div v-show="number > 10">
            test
        </div>
        <img :src="cover" alt="">
        <a :href="link">{{link}}</a>
        <div :style="{background:textColor}">
            hello
        </div>
        <div :class="{active: isActive}">
            hello
        </div>
        <input type="text" v-model="account">
        {{account}}
        <input type="radio" name="test" v-model="isActive">test 1
        <input type="radio" name="test" v-model="isActive">test 2
    </div>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    title: 'Hello Vue!!',
                    link: 'https://tw.yahoo.com',
                    cover:'https://picsum.photos/id/32/300',
                    textColor: 'red',
                    isActive: true,
                    number: 10,
                    account: 'default',
                    products: [
                        {
                            id: 1,
                            name: 'test 1',
                            price: '100'
                        },
                        {
                            id: 2,
                            name: 'test 2',
                            price: '999'
                        }
                    ]
                }
            }
        });
        app.mount('#app');
    </script>    
</body>
</html>