<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        <button @click="addItem()">click</button>
        <h2>未完成</h2>
        <ul>
            <li v-for="todo,idx in todoUnCompleted" :key="todo.id">
                <input type="checkbox" name="todo" v-model="todo.isCompleted">
                {{todo.title}}
                <form action="" method="post">
                    <input type="submit" value="刪除" @click.prevent="deleteItem(todo.id)">
                </form>
            </li>
        </ul>
        <h2>已完成</h2>
        <ul>
            <li v-for="todo,idx in todoCompleted" :key="todo.id">
                <input type="checkbox" name="todo" v-model="todo.isCompleted">
                {{todo.title}}
                <form action="" method="post">
                    <input type="submit" value="刪除" @click.prevent="deleteItem(todo.id)">
                </form>
            </li>
        </ul>
        
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    todos:[
                        {
                            id: 1,
                            title: '洗衣服',
                            isCompleted: true,
                        },
                        {
                            id: 2,
                            title: '澆花',
                            isCompleted: false,
                        },
                        {
                            id: 3,
                            title: '遛狗',
                            isCompleted: true,
                        },
                    ],
                    input:''
                }
            },
            methods:{
                addItem(){
                    this.todos.push({
                        id: Date.now(),
                        title: this.input,
                        isCompleted: false
                    });
                    this.input = '';
                },
                deleteItem(id){
                    // this.todos.splice(idx,1);
                    // this.todos = this.todos.filter(function(data){
                    //     return data.id != id;
                    // });
                    this.todos = this.todos.filter(data => data.id != id);

                }
            },
            computed:{
                todoCompleted(){
                    return this.todos.filter(data => data.isCompleted === true);
                },
                todoUnCompleted(){
                    return this.todos.filter(data => data.isCompleted === false);
                },

            }
        }).mount('#app');
    </script>
</body>
</html>