<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        <button @click="addItem()">click</button>
        <ul>
            <li v-for="todo,idx in todos">
                {{todo}}
                <form action="" method="post">
                    <input type="submit" value="刪除" @click.prevent="deleteItem(idx)">
                </form>
            </li>
        </ul>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    todos:[
                        'test 1',
                        'test 2',
                    ],
                    input:''
                }
            },
            methods:{
                addItem(){
                    this.todos.push(this.input);
                    this.input = '';
                },
                deleteItem(idx){
                    this.todos.splice(idx,1);
                }
            }
        }).mount('#app');
    </script>
</body>
</html>